<nav class="mt-5 px-2 @(IsDesktop ? "flex-1 bg-gray-800" : "")">
  <NavMenuLink IsDesktop="IsDesktop" Match="NavLinkMatch.All" href="/">
    <Icon>
      <svg class="@(context.isDesktop ? "mr-3" : "mr-4") @(context.isActive ? "text-gray-300" : "text-gray-400") group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
    </Icon>
    <Label>Home</Label>
  </NavMenuLink>
  <NavMenuLink IsDesktop="IsDesktop" href="/counter" class="mt-1">
    <Icon>
      <svg class="@(context.isDesktop ? "mr-3" : "mr-4") @(context.isActive ? "text-gray-300" : "text-gray-400") group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </Icon>
    <Label>Counter</Label>
  </NavMenuLink>
  <NavMenuLink LabelText="Fetch data" IsDesktop="IsDesktop" href="/fetchdata" class="mt-1">
    <Icon>
      <svg class="@(context.isDesktop ? "mr-3" : "mr-4") @(context.isActive ? "text-gray-300" : "text-gray-400") group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
      </svg>
    </Icon>
  </NavMenuLink>
</nav>
